.labelWrap {
	.labelHead {
		font-size: 24px;
	}

	.labelBody {
		padding: 10px 120px;

		.labelTag {
			margin: 10px 10px;
			padding: 19px 14px;
			display: inline-flex;
			line-height: 0;
			font-size: 1rem;
			font-weight: 500;
			border-radius: 5px;
			cursor: pointer;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
			transition: all 0.5s;

			&:hover {
				box-shadow: 0 7px 5px rgba(0, 0, 0, 0.12);
			}
		}
	}
}
