.labelWrap {
	.labelHead {
		margin-top: 20px;
		font-size: 20px;
		vertical-align: top;
	}

	.labelBody {
		padding: 10px 120px;

		.labelTag {
			margin: 8px 8px;
			padding: 14px 14px;
			display: inline-flex;
			line-height: 0;
			font-size: 0.8rem;
			font-weight: 500;
			border-radius: 5px;
			cursor: pointer;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
			transition: all 0.5s;

			&:hover {
				box-shadow: 0 7px 5px rgba(0, 0, 0, 0.12);
			}
		}
	}

	.labelReset {
		position: relative;
		left: 10px;
		font-size: 12px;
	}
}
